body {
    background-color: #f8e5e5;
    color: #fa255e;
    margin: 0;
}

a {
    color: #fa255e;
}

a:visited {
    color: #fa255e;
}

a:hover {
    color: #fa255e;
}

button {
    background-color: #fa255e;
    color: #000000;
}

select {
    background-color: #c39ea0;
}

input {
    background-color: #c39ea0;
}

textarea {
    background-color: #c39ea0;
}