body {
    background-color: #dddddd;
    color: #fa255e;
    margin: 0;
}

a {
    color: #fa255e;
}

a:visited {
    color: #fa255e;
}

a:hover {
    color: #fa255e;
}

button {
    background-color: #fa255e;
    color: #000000;
    height: 30px;
}

select {
    background-color: #c39ea0;
    min-height: 25px;
}

input {
    background-color: #c39ea0;
    min-height: 20px;
}

textarea {
    background-color: #c39ea0;
}