.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    background-color: #000000;
    color: #fa255e;
    width: 90%;
    padding: 10px;
    box-shadow: #333333 2px 2px;
}

.Form__form-group {
    display: flex;
    flex-direction: column;
}

.Form__button-cancel {
    background-color: grey;
}

.Form__button-danger {
    background-color: red;
}

@media (min-width: 400px) {
    form {
        width: 350px;
    }
}