.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    background-color: #000000;
    color: #fa255e;
    width: 350px;
    padding: 10px;
    box-shadow: #333333 2px 2px;
}

.Form__form-group {
    display: flex;
    flex-direction: column;
}